<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dtel - Cuaderno de Registros</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="bg-green-400 p-5">
        <div>
            <h2>Registros</h2>
        </div>
    </div>
    {{{body}}}

</body>
</html>